{% extends "base.html" %}
{% block content %}

<div class="container my-3">
    <table class="table">
    {% if data_list %}
        <thead>
        <tr class="table-dark">
            <th>번호</th>
            <th>address</th>
            <th>등록일</th>
            <th>최종 확인일</th>
            <th>owner</th>
            <th>device</th>
        </tr>
        </thead>
        {% for data in data_list %}
        <tr>
            <td>{{ paging.offset + loop.index0 + 1}}</td>
            <td><a href="{{ url_for('main.update_device', _id=data._id) }}">{{ data.mac }}</a></td>
            <td>{{ data.registerDate }}</td>
            <td>{{ data.endDate }}</td>
            <td>{{ data.owner }}</td>
            <td>{{ data.device }}</td>
        </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="3">device 정보가 없습니다.</td>
        </tr>
    {% endif %}
    </table>
</div>
{% include 'paging.html' %}
{% endblock %}