{% extends "base.html" %}
{% block content %}

<div class="container my-3">
    <table class="table">
    {% if data_list %}
        <thead>
        <tr class="thead-dark">
            <th>번호</th>
            <th>address</th>
            <th>owner</th>
            <th>device</th>
            <th>확인</th>
        </tr>
        </thead>
        {% for data in data_list %}
        <tr>
            <td>{{ paging.offset + loop.index0 + 1}}</td>
            <td>{{ data.mac }}</td>
            {% if not data.owner and not data.device %}
            <form method="post" class="my-3">
                {{ form.csrf_token }}
                <input type="hidden" name="mac" value="{{ data.mac }}">
                <td><input type="text" class="form-control" name="owner" value="{{ data.owner }}"></td>
                <td><input type="text" class="form-control" name="device" value="{{ data.device }}"></td>
                <td><input type="submit" class="btn btn-primary"></td>
            </form>
            {% else %}
            <td>{{ data.owner }}</td>
            <td>{{ data.device }}</td>
            <td></td>
            {% endif %}
        </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="3">employess 정보가 없습니다.</td>
        </tr>
    {% endif %}
    </table>
</div>
{% include 'paging.html' %}
{% endblock %}