{% extends "base.html" %}
{% block content %}

<div class="container my-3">
    <form id="submitForm" method="get" action="{{ url_for('user.update_employee') }}">
        <button type="submit" class="btn btn-primary my-3">등록</button>
    </form>
    <table class="table">
    {% if data_list %}
        <thead>
        <tr class="table-dark">
            <th>번호</th>
            <th>이름</th>
            <th>사원번호</th>
            <th>email</th>
            <th>입사일</th>
            <th>퇴사일</th>
            <th>소속</th>
            <th>position</th>
            <th>직급</th>
            <th>상근 여부</th>
            <th>상태</th>
        </tr>
        </thead>
        {% for data in data_list %}
        <tr>
            <td>{{ paging.offset + loop.index0 + 1}}</td>
            <td><a href="{{ url_for('user.update_employee', _id=data._id) }}">{{ data.name }}</a></td>
            <td>{{ data.employeeId }}</td>
            <td>{{ data.email }}</td>
            <td>{{ data.beginDate }}</td>
            <td>{{ data.endDate }}</td>
            <td>{{ data.department }}</td>
            <td>{{ data.position }}</td>
            <td>{{ data.rank }}</td>
            {% if data.regular not in ['상근'] %}
                <td style='color:red'>{{ data.regular }}</td>
            {% else %}
                <td>{{ data.regular }}</td>
            {% endif %}
            <td>{{ data.mode }}</td>
        </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="3">employess 정보가 없습니다.</td>
        </tr>
    {% endif %}
    </table>
</div>
{% include 'paging.html' %}
{% endblock %}