{% extends "base.html" %}
{% block content %}

<div class="container my-3">
    {% if g.user %}
    <button type="submit" onclick="location.href={{ url_for('main.update_employee') }}" class="btn btn-primary">등록</button>
    {% endif %}
    <table class="table">
    {% if data_list %}
        <thead>
        <tr class="thead-dark">
            <th>번호</th>
            <th>이름</th>
            <th>email</th>
            <th>소속</th>
            <th>직급</th>
            <th>사원번호</th>
        </tr>
        </thead>
        {% for data in data_list %}
        <tr>
            <td>{{ paging.offset + loop.index0 + 1}}</td>
            <td><a href="{{ url_for('main.update_employee', name=data.name) }}">{{ data.name }}</a></td>
            <td>{{ data.email }}</td>
            <td>{{ data.department }}</td>
            <td>{{ data.rank }}</td>
            <td>{{ data.employeeId }}</td>
        </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="3">employess 정보가 없습니다.</td>
        </tr>
    {% endif %}
    </table>
</div>
{% include 'paging.html' %}
{% endblock %}