{% extends "base.html" %}
{% block content %}

<div class="container my-3">
    <table class="table">
        <thead>
        <tr class="thead-dark">
            <th>항목</th>
            <th>특성</th>
        </tr>
        </thead>
        <tr>
            <td>근태 wifi 사용</td>
            <td>{{ use_wifi_attendance }}</td>
        </tr>
        <tr>
            <td>Notice Email 사용</td>
            <td>{{ use_notice_email }}</td>
        </tr>
        <tr>
            <td>Notice 참조자</td>
            <td>{{ cc }}</td>
        </tr>
        <tr>
            <td>외부 calendar 연결</td>
            <td>{{ is_outside_calendar_connected }}</td>
        </tr>
        <tr>
            <td>외부 calendar url</td>
            <td>{{ outside_calendar_url }}</td>
        </tr>
        {% for key in account %}
        <tr>
            <td>{{ key }}</td>
            <td>{{ account[key] }}</td>
        </tr>
        {% endfor %}
        {% for key in working %}
        <tr>
            <td>{{ key }}</td>
            <td>{{ working[key] }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}