{% extends "base.html" %}
{% block content %}
<div class="container my-3">
    <form method="post" class="post-form">
        {{ form.csrf_token }}
        {% include "form_errors.html" %}
        <div class="form-group">
            <label for="name">이름</label>
            <input type="text" class="form-control" name="name" id="name"
                   value="{{ data.name or '' }}">
        </div>
        <div class="form-group">
            <label for="employeeId">사원 번호</label>
            <input type="text" class="form-control" name="employeeId" id="employeeId"
                   value="{{ data.employeeId or '' }}">
        </div>
        <div class="form-group">
            <label for="email">이메일</label>
            <input type="text" class="form-control" name="email" id="email" placeholder="name@example.com"
                   value="{{ data.email or '' }}">
        </div>
        <div class="form-group">
            <label for="beginDate">입사일</label>
            <input type="date" class="form-control" name="beginDate" id="beginDate"
                   value="{{ data.beginDate or '' }}">
        </div>
        <div class="form-group">
            <label for="endDate">퇴사일</label>
            <input type="date" class="form-control" name="endDate" id="endDate"
                   value="{{ data.endDate or '' }}">
        </div>
        <div class="form-group">
            <label for="department">소속</label>
            <select class="form-select" name="department" id="department" aria-label="Default select department">
                {% for department in employees_status.department %}
                <option value="{{ department }}" {% if data.department == department %} selected {% endif %}>{{ department }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="position">position ex) {{ employees_status.position }} </label>
            <select class="form-select" name="position" id="position" aria-label="Default select position">
                {% for position in employees_status.position %}
                <option value="{{ position }}" {% if data.position == position %} selected {% endif %}>{{ position }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="rank">직급</label>
            <input type="text" class="form-control" name="rank" id="rank"
                   value="{{ data.rank or '' }}">
        </div>
        <div class="form-group">
            <label for="regular">상근 여부 ex) {{ employees_status.regular }}</label>
            <select class="form-select" name="regular" id="regular" aria-label="Default select regular">
                {% for regular in employees_status.regular %}
                <option value="{{ regular }}" {% if data.regular == regular %} selected {% endif %}>{{ regular }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="mode">상태 ex) {{ employees_status.regular }} </label>
             <select class="form-select" name="mode" id="mode" aria-label="Default select mode">
                {% for mode in employees_status.mode %}
                <option value="{{ mode }}" {% if data.mode == mode %} selected {% endif %}>{{ mode }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="my-3">
            <button type="submit" class="btn btn-primary">등록</button>
        </div>
    </form>
</div>
{% endblock %}