{% extends "base.html" %}
{% block content %}
<div class="container w-50 my-3">
    <form method="post" class="post-form">
        {{ form.csrf_token }}
        {% include "form_errors.html" %}
        <div class="form-group my-3">
            <label for="name">사용자 이름</label>
            <input type="text" class="form-control" name="name" id="name"
                   value="{{ data.name or '' }}">
        </div>
        <div class="form-group my-3">
            <label for="email">이메일</label>
            <input type="email" class="form-control" name="email" id="email"
                   value="{{ data.email or '' }}">
        </div>
        <div class="form-check my-3">
            <input type="checkbox" class="form-check-input" name="is_admin" id="is_admin"
                   {% if data.is_admin %} checked {% endif %}>
            <label class="form-check-label" for="is_admin">Is_admin</label>
        </div>
        <div class="my-3">
            <button type="submit" class="btn btn-primary">등록</button>
        </div>
    </form>
</div>
{% endblock %}