{% extends "base.html" %}
{% block content %}
<div class="container my-3">
    <form method="post" class="post-form">
        {{ form.csrf_token }}
        {% include "form_errors.html" %}
        <div class="form-group">
            <label for="name">이름</label>
            <input type="text" class="form-control" name="name" id="name"
                   value="{{ data.name or '' }}">
        </div>
        <div class="form-group">
            <label for="department">소속</label>
            <input type="text" class="form-control" name="department" id="department"
                   value="{{ data.department or '' }}">
        </div>
        <div class="form-group">
            <label for="rank">직급</label>
            <input type="text" class="form-control" name="rank" id="rank"
                   value="{{ data.rank or '' }}">
        </div>
        <div class="form-group">
            <label for="employeeId">사원 번호</label>
            <input type="text" class="form-control" name="employeeId" id="employeeId"
                   value="{{ data.employeeId or '' }}">
        </div>
        <div class="form-group">
            <label for="beginDate">입사일</label>
            <input type="text" class="form-control" name="beginDate" id="beginDate"
                   value="{{ data.beginDate or '' }}">
        </div>
        <div class="form-group">
            <label for="endDate">퇴사일</label>
            <input type="text" class="form-control" name="endDate" id="endDate"
                   value="{{ data.endDate or '' }}">
        </div>
        <div class="form-group">
            <label for="email">이메일</label>
            <input type="text" class="form-control" name="email" id="email"
                   value="{{ data.email or '' }}">
        </div>
        <div class="form-group">
            <label for="regular">상근 여부</label>
            <input type="text" class="form-control" name="regular" id="regular"
                   value="{{ data.regular or '' }}">
        </div>
        <div class="form-group">
            <label for="status">상태</label>
            <input type="text" class="form-control" name="status" id="status"
                   value="{{ data.status or '' }}">
        </div>
        <button type="submit" class="btn btn-primary">등록</button>
    </form>
</div>
{% endblock %}