{% extends "base.html" %}
{% block content %}
<div class="container my-3">
    <form method="post" class="post-form">
        {{ form.csrf_token }}
        {% include "form_errors.html" %}
        <div class="form-group">
            <label for="name">이름</label>
            <input type="text" class="form-control" name="name" id="name"
                   value="{{ data.name or '' }}">
        </div>
        <div class="form-group">
            <label for="name">이메일</label>
            <input type="text" class="form-control" name="email" id="email"
                   value="{{ data.email or '' }}">
        </div>
        <div class="form-group">
            <label for="department">소속</label>
            <input type="text" class="form-control" name="department" id="department"
                   value="{{ data.department or '' }}">
        </div>
        <div class="form-group">
            <label for="rank">직급</label>
            <input type="text" class="form-control" name="rank" id="rank"
                   value="{{ data.rank or '' }}">
        </div>
        <div class="form-group">
            <label for="rank">사원 번호</label>
            <input type="text" class="form-control" name="employeeId" id="employeeId"
                   value="{{ data.employeeId or '' }}">
        </div>
        <button type="submit" class="btn btn-primary">등록</button>
    </form>
</div>
{% endblock %}